---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
//$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-family: "Crimson Text", serif, "Kagami Emoji";
$base-font-size:   12pt;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


$fa-font-path:        "fonts";
$fa-font-size-base:   14pt;


.footer-symbol {
    width: 100px;
    height: 85px;
    background-image: url('symbol-hi-s.png');
    float: right;

    filter: grayscale(70%); /* Standard CSS */
    -webkit-filter: grayscale(70%); /* CSS for Webkit Browsers */
    -webkit-filter: grayscale(0.7); /* Old WebKit Browsers */
    -webkit-transition: -webkit-filter 0.2s; /* Safari */
    transition: filter 0.2s;
}

.footer-symbol:hover {
    filter: grayscale(0%);
    filter: none;
    -webkit-filter: grayscale(0); /* Old WebKit */
}

.site-footer .fa {
    color: $text-color;
    display: inline-block;
    width: 1.2em;
    text-align:center;
}

.black {
    color: $text-color;
}

.header-language-icon {
    //float:right;
    position: absolute;
    right: 30px;
    bottom: 1em;
    margin-left: 1em;
    //display: inline-block;
    //vertical-align: baseline;
    height: 1.5em;
    filter: grayscale(90%); /* Standard CSS */
    -webkit-filter: grayscale(90%); /* CSS for Webkit Browsers */
    -webkit-filter: grayscale(0.9); /* Old WebKit Browsers */
    -webkit-transition: -webkit-filter 0.2s; /* Safari */
    transition: filter 0.2s;
}

.header-language-icon:hover {
    filter: grayscale(0%);
    filter: none;
    -webkit-filter: grayscale(0); /* Old WebKit */
}

.index-portait-img {
    max-width: 30%;
    float: right;
    margin-left: 3em;
    padding: 7px;
    border: solid 2px #ddd;
    background: #f6f6f6;
}

.site-header .wrapper {
    position: relative;
}
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
	"font-awesome/font-awesome",
	"academicons/academicons"
;

